<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            https://www.Springframework.org/schema/beans/spring-beans.xsd">

<bean name="actor" class="com.stackroute.domain.Actor" autowire="byName" >
    <constructor-arg name="name" value="Bindu"/>
    <constructor-arg name="gender" value="Female"/>
    <constructor-arg name="age" value="21"/>
</bean>
    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Hello" />
        <constructor-arg name="gender" value="Female"/>
        <constructor-arg name="age" value="21" />
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="cat"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="21"/>
    </bean>
    <bean id="beanLifeCycle" class="com.stackroute.domain.BeanLifeCycleDemoBean" init-method="customInit" destroy-method="customDestroy"/>
    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName" >
    </bean>
    <bean id="movie1" class="com.stackroute.domain.Movie"  >
        <constructor-arg name="actor" ref="actor1"/>
    </bean>


</beans>